.header{
    background-color: rgba(0, 81, 255, 0.315);
    box-shadow:rgb(rgb(59, 49, 49), rgb(147, 156, 147), rgb(103, 103, 117));
    height:100px;
    border-bottom-left-radius: 6px;
}

li{
    list-style : none;
    text-align: left;
    float:left;
    padding:26px 10px;
    color:whitesmoke
}

.header-list{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 17px;
    color:white;
    padding:0px 20px;
}
.header-logo{
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: whitesmoke;
    padding : 15px 800px 8px 40px;
    float:left;
}

p{
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    padding: 50px 10px 0px 50px;
    margin-bottom: 0px;
}
hr{
    border: solid 3px rgba(100, 106, 184, 0.527);
    margin:0px;
    background-color: rgba(0, 81, 255, 0.315);
}

.gambar{
    margin-top: 0px;
    height: 450px;
    weight: 700px;
    padding: 0px 90px 5px 90px;
}
main{
    background-color: papayawhip;
    margin-top: 0px;
}

